.footer {
  background-color: #f5f5f5;
}

.hour {
	position: relative;
	bottom: 17px;
}

.hour-box {
	width: 30%;
}

.blocked-hour {
	background-color: #c7cace;
}

.current-hour {
	border-top: 2px dashed green;
}

#current-hour-and-day {
	border-top: 3px solid green;
}

.summary-icon {
	width: 2rem;
}
