<!doctype html>
<html lang="pt-br" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Outdoors Planner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/bc75b2d6c9.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Outdoors Planner</h1>
        <p class="lead">Planeje suas próximas atividades ao ar livre, filtrando
	horários de sol, chuva, temperaturas amenas, etc.</p>

	{% if alert is not none %}
        <div class="alert alert-warning" role="alert">
        {{ alert }}
	</div>
	{% endif %}
	{% if info is not none %}
        <div class="alert alert-info" role="alert">
        {{ info }}
	</div>
	{% endif %}

      <div class="row">
      <div class="col-8">
	<div class="table-responsive">
	<table class="table table-sm table-bordered">
	  <thead>
	    <tr>
	      <th scope="col" style="width: 10%"></th>
	      {% for day in schedule %}
	      <th scope="col" class="bg-success text-white" style="width: 30%">{{ day.name }}</th>
	      {% endfor %}
	    </tr>
	  </thead>
	  <tbody>
	    {% for hour in hours %}
	    {% set hour_loop = loop %}
	    <tr class="{{ "current-hour" if hour_loop.index0 == current_hour }}">
	      <th class="hour" scope="row" style="width: 10%">{{ hour }}</th>
	      {% for day in schedule %}
	      {% set event = day.events[hour_loop.index0] %}
	      {% set daylight = day.daylight[hour_loop.index0] %}
	      {% set temp = day.temps[hour_loop.index0] %}
	      {% set temp_opacity = (temp - min_temp) / (max_temp - min_temp) %}
	      {% set rain = day.rain[hour_loop.index0] %}
	      {% set rain_opacity = rain/100 %}
	      {% set cloud = day.cloud[hour_loop.index0] %}
	      {% set icon = day.icons[hour_loop.index0] %}
	      {% set summary_text = day.summary_text[hour_loop.index0] %}
	      {% set cloud_opacity = cloud/100 %}
	      {% set has_event = event|length > 0 %}

	      <td id="{{ "current-hour-and-day" if loop.index0 == 0 and hour_loop.index0 == current_hour}}"
		  class="hour-box {{ "bg-info text-white" if has_event }}"
                  data-temp-opacity="{{ temp_opacity }}"
		  data-rain-opacity="{{ rain_opacity }}"
                  data-cloud-opacity="{{ cloud_opacity }}"
		  data-has-event="{{ has_event }}">
		      {% if not daylight %}<i class="fas fa-moon" style="display:none"></i>{% endif %}
		      <img class="summary-icon" style="display:none" src="http:{{ icon }}">
		      <i class="temp" style="display:none">{{ temp }}°C</i>
		      <i class="rain" style="display:none">{{ rain }}%</i>
		      <i class="cloud" style="display:none">{{ cloud }}%</i>
		      {% if not has_event %}<i class="summary-text" style="display:none">{{ summary_text }}</i>{% endif %}
		      <b>{{ event }}</b>
	      </td>
	      {% endfor %}
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	</div>
     
      </div>

      <div class="col-4">
	      <h2>Filtros</h2>
	      <div>Mapa de cores:</div>
	      <div class="form-group">
	      <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="colormap" id="map_temp" value="temp" onchange="colormap(this)">
                <label class="form-check-label" for="map_temp">Temperatura</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="colormap" id="map_rain" value="rain" onchange="colormap(this)">
                <label class="form-check-label" for="map_rain">Prob. de chuva</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="colormap" id="map_cloud" value="cloud" onchange="colormap(this)">
                <label class="form-check-label" for="map_cloud">Cobertura de nuvens</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="colormap" id="map_summary" value="summary-text" onchange="colormap(this)">
		<label class="form-check-label" for="map_summary">Descrição em texto</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="colormap" id="map_none" value="none" onchange="colormap(this)" checked>
                <label class="form-check-label" for="map_none">Nenhum</label>
              </div>
	      </div>
	      <div>Icones indicadores:</div>
	      <div class="form-group">
		  <div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="indicators" id="ind_night" value="night" onchange="indicators(this)">
		  <label class="form-check-label" for="ind_night"> Noite </label>
		  </div>
		  <div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="indicators" id="ind_summary" value="summary-icon" onchange="indicators(this)">
		  <label class="form-check-label" for="ind_summary"> Síntese </label>
		  </div>
		  <div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="indicators" id="ind_none" value="none" onchange="indicators(this)" checked>
		  <label class="form-check-label" for="ind_none"> Nenhum </label>
		  </div>
              </div>
              <div class="form-group form-inline">
		Exibindo dados climáticos de "{{ weather_region }}". Modificar:<br>
		<label for="city"></label>
		<input type="city" class="form-control" id="location_text" placeholder="Bairro, Cidade, País" onkeyup="location_text_keychange()">
		 <button class="btn btn-primary" id="location_btn" onclick="location_change()">Mudar</button>
	      </div>
      </div>

      </div>
      </div>
    </main>

   <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Sistema desenvolvido para a matéria
		"MAC6929 - Fundamentos da Internet das Coisas", do IME-USP (2020)</span>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
